.search-params {
  display: flex;
  justify-content: space-around;
  border: 1px solid darkgray;
  background-color: white;
  border-radius: 0px 8px 0px 0px;
}

.filters {
  border-right: 0.5px solid darkgray;
  width: 65%;
  margin: 10px;
}

.sort-by {
  width: 35%;
  margin: 10px;
}
